html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system,sans-serif;
  border-collapse: collapse;
  margin: 0 auto;
  color: #18181b;
  background: #F4F3EE;
  font-size: 16px;
  line-height: 1.1em;
  margin: 20px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-size: .9em;
  line-height: 1.5em;
  background-color: #8FCD67;
  padding: 0.7em 1em;
  cursor: pointer;
  border-radius: 5px;
  color: #F4F3EE;
}
